.filter {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: rgb(216, 238, 249);
  border-radius: 10px;
}

.filterClass {
  font-family: cursive;
  margin: 10px;
}
.btn-group {
  display: flex;
}
