.categoryCar {
  height: 30px;
  background-color: rgb(6, 164, 243);
  border-radius: 10px;
  display: flex;
}

.btn-car {
  width: 150px;
  background-color: rgb(1, 130, 243);
  border-radius: 10px;
  border: 1px solid rgb(14, 6, 243);
  color: #fff;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 10px;
}
